section.hero.is-dark.is-bold
		.hero-head
			nav.nav
				span#nav-toggle.nav-toggle
					span
					span
					span
				.nav-right
					#nav-menu.nav-right.nav-menu
						a(class='nav-item' href='/') Home
						if !user
							a(class='nav-item' href='/auth/github') Login
						else
							a(class='nav-item' href='logout') Logout
		.hero-body
			.container
				a(href='/')
					h1.title Nightlife App!
				h2.subtitle Using yelp API
		.hero-foot.has-text-right
			.container
				p
					small= 'Made by '
						a(href='https://github.com/sego90' target='_blank') Daniel S.  