section.hero.is-dark.is-bold
		.hero-head
			header.nav
				.container
					span.nav-toggle
						span
						span
						span
					.nav-right.nav-menu
						a(class='nav-item' href='#') Home
						a(class='nav-item' href='#') Login
						a(class='nav-item' href='#') Logout
		.hero-body
			.container
				h1.title Nightlife App!
				h2.subtitle Using yelp API