section.hero.is-dark.is-bold
		.hero-head
			header.nav
				.container
					span.nav-toggle
						span
						span
						span
					.nav-right.nav-menu
						a(class='nav-item' href='#') Home
						a(class='nav-item' href='#') Login
						a(class='nav-item' href='#') Logout
		.hero-body
			.container
				h1.title Nightlife App!
				h2.subtitle Using yelp API
		.hero-foot.has-text-right
			.container
				p
					small= 'Made by '
						a(href='https://github.com/sego90' target='_blank') Daniel S.  