include includes/head
body
	include includes/nav
	br
	section
		.container
			.columns
				.column.is-half.is-offset-one-quarter
					form
						label.label.has-text-centered Search your local bars!
						p.control
							input(class='input has-text-centered' type='text' placeholder='My City')
						p.control
							input(class='input' type='submit' value='Search')
